$font1: 'JetBrains Mono', monospace;
$font2: 'Exo 2', sans-serif;

$color_black1: #131316;
$color_black2: #1C1C21;

$color_gray1: #8585AD;
$color_gray2: #2F2F37;

$main_color: #F2F2F3;

$anim1: all 0.3s;