@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,700;1,700&family=JetBrains+Mono:ital@0;1&display=swap');
@import 'reset-css';
@import './global.scss';

body {
  background-color: $color_black1;
  color: $main_color;
  font-family: $font1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.container {
  width: 1140px;
  margin: auto auto;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: $anim1;
}
svg path {
  transition: $anim1;
}

h1 {
  font-family: $font2;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
}
h2 {
  font-family: $font2;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
h3 {
  font-family: $font2;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}



